<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/create" method="post">
      <label for="first">First Name:</label>
      <input type="text" id="first" , name="firstName" />
      <label for="last">Last Name:</label>
      <input type="text" id="last" , name="lastName" />
      <br />
      <label for="mail">Email: </label>
      <input type="email" id="mail" name="email" />
      <label for="age">Age: </label>
      <input name="age" type="number" id="age" min="18" max="120" />
      <br />
      <label for="bio">Bio: </label>
      <textarea
        name="bio"
        id="bio"
        placeholder="Input your bio-data here"
        maxlength="200"
      ></textarea>
      <button type="submit">Submit</button>
    </form>

    <h1>Want to see if a user already exist?</h1>
    <form action="/search" method="get">
      <label for="searchMail">Search by email: </label>
      <input name="email" id="searchMail" placeholder="searchMail@mail.com" />
      <button type="submit">Search</button>
    </form>
    <a href="/">Back to home!</a>
  </body>
</html>
